@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background: #FAFAFA;
    font-family: Arial, sans-serif;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
}

.main-header {
    width: 100%;
    /* height: 56px; */
    position: fixed;
    top: 0;
    left: 0;
    grid-area: header;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(2, 2, 124, 0.829);
    background: rgba(121, 121, 255, 0.479);
    /* color: #000; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__menu-toggle {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    color: #000;
    vertical-align: middle;
}

.main-header__brand {
    text-decoration: none;
}

.main-header__brand img {
    height: 3rem;
    vertical-align: middle;
}

.main-header__name {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-family: 'Baloo Bhai';
    color: rgba(58, 58, 187, 0.925);
}

.main-header__media {
    display: flex;
    align-content: center;
    align-items: center;
    /* margin: 0 0.5rem; */

}

.main-header__media a {
    color: rgb(26, 9, 128);
    padding-right: 1rem;
    display: inline-block;
    /* vertical-align: middle; */
}

.main-header__media-call {
    padding: 0 2rem;
}

.media-call-icon {
    font-size: 1.4rem;
    

}

.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.side-nav--visible {
    pointer-events: auto;
}

.side-nav::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.7s cubic-bezier(0,0,0.3,1);
}

.side-nav__container {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 100%;
    background: rgb(126, 122, 122);
    box-shadow: 2px 0 7px rgba(0,0,0,0.4);
    transform: translateX(-102%);
    display: flex;
    flex-direction: column;
}

.side-nav--animatable .side-nav__container {
    transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible.side-nav--animatable .side-nav__container {
    transition: transform 0.33s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible::before {
    opacity: 1;
}

.side-nav--visible .side-nav__container {
    transform: none;
}

.side-nav__hide {
    position: absolute;
    left: 16px;
    top: 16px;
    background: none;
    border: none;
    color: #FFF;
}

.side-nav__header {
    height: 200px;
    background: black;
    color: #FFF;
    display: flex;
    padding: 16px;
    align-items: flex-end;
    font-size: 24px;
}

.side-nav__content {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.side-nav__content li {
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    font-size: 24px;
}

.side-nav__content li:hover {
    background: #CCC;
}

main {
    grid-area: main;
}

.main-footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
    grid-area: footer;
}